@import "../../Foundation/Grid.less";
@import "../../Foundation/Page.less";
// @import "../../Foundation/Breakpoint.less";
// @import "../../Foundation/Spacing.less";
// @import "../../Foundation/Palette.less";
// @import "../../Foundation/Layers.less";
// @import "../../Foundation/Typography.less";

// @import "../../atoms/Button/Button.less";
@import "../../molecules/PageOutline/PageOutline.less";


.GenericPage {
  // #Grid.helper.margins();

  // &__body {
  //   #Grid.helper.columns();
  // }

  &__title {
    #Page.title;
  }

  &__outline {
    #Page.outline();
  }

  &__bodyContent {
    #Page.body;
    #Page.initialContentSpaceForOutline();
  }
}
