@import "../../platform/Styles/base.less";
@import "../../platform/Styles/vanilla.less";


@import "../../platform/Styles/font-smoothing.less";
@import "../Foundation/Typography.less";


html {
  font-size: (10 / 16 * 100%);
  #font-smoothing(on);
}

body {
  #Typography.Grotesk;
  #Typography.body;
}
