@import "./Breakpoint.less";

/*
  For use with the post-css plugin:
    "postcss-custom-properties": "^9.0.2",

  This plugin ONLY reads custom properties defined on :root/html.
  It doesn't try and get too clever and because of that we get a very reliable fallback for IE browsers
*/

#root() {
  :root {
    // Values used in browsers that don't support custom properties
    --grid-all-gutter: 12rem;
    --grid-all-margin: 6rem;

    --grid-eleven-gutter: 3rem;
    --grid-eleven-margin: 3rem;

    --grid-five-gutter: 3rem;
    --grid-five-margin: 3rem;

    // Overrides
    // & when (#Grid[simulate-ie] = false) {
      .to(#Breakpoint[tablet], {
        --grid-all-gutter: 3rem;
        --grid-all-margin: 3rem;
      });
      .from(#Breakpoint[tablet], {
        --grid-all-gutter: 6rem;
        --grid-all-margin: 6rem;
      });
      .from(#Breakpoint[desktop], {
        --grid-all-gutter: 12rem;
      });
    // }
  }
}

#Grid() {
  show: true;
  simulate-ie: false;

  // Named grids

  // This site design uses a 12 column grid everywhere
  .all() {
    columns: 12;
    gutter: var(--grid-all-gutter);
    margin: var(--grid-all-margin);
    max-width: 168rem;
  }

  .eleven() {
    columns: 11;
    gutter: var(--grid-eleven-gutter);
    margin: var(--grid-eleven-margin);
    max-width: none;
  }

  .five() {
    columns: 5;
    gutter: var(--grid-five-gutter);
    margin: var(--grid-five-margin);
    max-width: none;
  }
  // .mobile() {
  //   columns: 4;
  // }
  // .tablet() {
  //   columns: 8;
  // }
  // .desktop() {
  //   columns: 12;
  // }
}


#Grid() {
  // Reference with [gutter] etc
  columns: @scope-grid[columns];
  gutter: @scope-grid[gutter];
  margin: @scope-grid[margin];
  max-width: @scope-grid[max-width];

  // Utilites

  .apply(@grid) {
    @scope-grid: @grid;
  }

  .span(@span; @modify: 0;) {
    @percent: (@span / @scope-grid[columns] * 100%);
    @gutter-multiplier: ((@scope-grid[columns] - @span) / @scope-grid[columns]);

    & when (@modify = 0) {
      // width: calc(@percent - @gutter-multiplier * @scope-grid[gutter]);
      width: calc(
        (@span / @scope-grid[columns] * 100%) -
        ((@scope-grid[columns] - @span) / @scope-grid[columns]) *
        @scope-grid[gutter]
      );
    }
    & when not (@modify = 0) {
      width: calc(@percent - @gutter-multiplier * @scope-grid[gutter] + @modify);
      // width: calc(
      //   (@span / @scope-grid[columns] * 100%) -
      //   ((@scope-grid[columns] - @span) / @scope-grid[columns]) *
      //   @scope-grid[gutter] +
      //   @modify
      // );
    }
  }

  .helper() {
    .margins() {
      padding-left: #Grid[margin];
      padding-right: #Grid[margin];
    }

    .columns() {
      margin-left: auto;
      margin-right: auto;
      max-width: #Grid[max-width];
      #Grid.helper.background();
    }

    .background() when (#Grid[show] = true) {
      @color: pink;
      @color: rgba(250, 0, 0, 0.05);
      @color: fade(cyan, 10%);

      @w: #Grid.span(1, 0)[width];
      @w2: #Grid.span(1, @scope-grid[gutter])[width];

      background-image: repeating-linear-gradient(
        90deg,
        @color 0,
        @color @w,
        rgba(0, 0, 0, 0) @w,
        rgba(0, 0, 0, 0) @w2
      );
    }
  }
}
