@import "./Typography.less";
@import "./Palette.less";
@import "./Grid.less";


#Page() {
  .title() {
    #Typography.title();
    color: #Palette[primary];
    margin-top: 4rem;
    .from(@Breakpoint[tablet], {
      margin-top: 8rem;
    });
    .from(@Breakpoint[desktop], {
      margin-top: 14rem;
    });
  }
  .tagline() {
    #Typography.heading();
    color: #Palette[body];
    margin-top: 2rem;
    .from(@Breakpoint[tablet], {
      margin-top: 4rem;
    });
    .from(@Breakpoint[desktop], {
      margin-top: 6rem;
    });
  }
  .initialContent () {
    margin-top: 2rem;
    .from(@Breakpoint[tablet], {
      margin-top: 4rem;
    });
    .from(@Breakpoint[desktop], {
      margin-top: 6rem;
    });
  }
  .initialContentSpaceForOutline () {
    .from(@Breakpoint[tablet], {
      #Grid.apply(#Grid.tablet());
      #Grid.span(9);
    });
    .from(@Breakpoint[desktop], {
      #Grid.apply(#Grid.desktop());
      #Grid.span(9);
    });
  }
  .outline () {
    margin-top: 2rem;
    .from(@Breakpoint[tablet], {
      #Grid.apply(#Grid.tablet());
      float: right;
      #Grid.span(3);
      margin-top: 4rem;
    });
    .from(@Breakpoint[desktop], {
      #Grid.apply(#Grid.desktop());
      #Grid.span(3);
      margin-top: 6rem;
    });
  }
  .body() {
    #Page.initialContent();
    #Typography.body();
    color: #Palette[body];

    > h2 {
      #Typography.heading();
    }

    > h3 {
      #Typography.heading();
      font-size: 2.4rem;
      line-height: 3.0rem;
      color: #Palette[primary];
    }

    > ol {
      counter-reset: ordinal;

      > li {
        counter-increment: ordinal;
        position: relative;
        padding-left: 2rem;

        &:before {
          content: counter(ordinal) ".";
          position: absolute;
          left: 0;
          top: 0;
        }

      }
    }

    > ul {
      > li {
        position: relative;
        padding-left: 2rem;

        &:before {
          content:"\2014";
          position: absolute;
          left: 0;
          top: 0;
        }

      }
    }

    > .SingleImage {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    > .InlineImagesRow {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    > p, > h2, > h3, > ol, > ul {
      > a {
        color: #Palette[primary];
        text-decoration: underline;
      }


      + p {
        margin-top: 2rem;
      }
      + ol, + ul {
        margin-top: 2rem;
      }
      + h2 {
        margin-top: 4rem;
      }
      + h3 {
        margin-top: 4rem;
      }
    }
  }
  .backgroundSection(@rules) {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .from(@Breakpoint[tablet], {
      margin-top: 6rem;
      margin-bottom: 6rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    });

    .from(@Breakpoint[desktop], {
      margin-top: 8rem;
      margin-bottom: 8rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
    });

    > * {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);

      @rules();
    }
  }
  .backgroundContainer() {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  .backgroundSectionInner() {
    position: relative;
  }
}

.SingleImage {
  &__caption {
    margin-top: 1rem;
    opacity: 0.8;
  }
}

.InlineImagesRow {
  &__img {
    display: inline-block;
    height: 7rem;

    & + & {
      margin-left: 1.5rem;
    }
  }
}
