@import "../Foundation/Breakpoint.less";

#Typography() {
  // Families
  .Grotesk() {
    font-family: sans-serif;
  }

  // Styles
  .body() {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: normal;
  }

  .hero() {
    font-weight: normal;
    .responsive() {
      .small;
      .from(#Breakpoint[tablet], { .large; });
    }
    .small() {
      font-size: 3.8rem;
      line-height: 4.5rem;
    }
    .large() {
      font-size: 6.4rem;
      line-height: 8.5rem;
    }
  }

  .title() {
    font-weight: normal;
    .responsive() {
      .small;
      .from(#Breakpoint[tablet], { .large; });
    }
    .small() {
      font-size: 2.4rem;
      line-height: 3.5rem;
    }
    .large() {
      font-size: 3.8rem;
      line-height: 4.5rem;
    }
  }
}
