/*
  NOTE
  This path style is a pretty bad practice in hindsight. The more svg stuff I do the more valuable it is to allow some svg to be line, and others paths. The code here is handy but too optimistic.
*/
// path {
//   fill: currentColor;
//   transform-origin: center;
//   transform: translate3d(0, 0, 0);
// }

// These styles only applied when "responsive" is true
.Svg {
  display: block;
  position: relative;

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
