@reset-support-ie9: false;
@reset-support-ie10: true;


// Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Prevent iOS text size adjust after orientation change, without disabling user zoom (1)
// Break long words into parts (2)
html {
  -webkit-text-size-adjust: 100%; // 1
  word-wrap: break-word; // 2
}

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

// Remove default heading sizes
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

// Remove list styles
ul,
ol {
  list-style: none;
  padding: 0;
}

// Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Default anchor style
// In almost all cases anchors should be styled by class, or context.
a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active {
    outline: 0;
  }

  &:focus {
    outline: none;
  }
}


// Allow SVG paths to overflow their viewbox
svg:not(:root) {
  overflow: visible;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


& when (@reset-support-ie10) {
  // Remove the gray background color from active links in IE 10.
  a {
    background: transparent;
  }
}


& when (@reset-support-ie9) {
  // Correct `block` display not defined in IE 8/9.
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }

  // Address `[hidden]` styling not present in IE 8/9.
  // Hide the `template` element in IE, Safari, and Firefox < 22.
  [hidden],
  template {
    display: none;
  }
}
