#inline-image(@path) {
  @width: image-width(@path);
  @height: image-width(@path);

  max-width: if((replace(@path, "@2x", "") = @path), @width, (@width / 2));
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-bottom: (@height / @width * 100%);
  }

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
