#reset-input() {
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-radius: 0; // iOs
  display: inline-block;
  text-align: inherit;
  color: inherit;
  padding: 0;
  background: none;
}
