/*
  Vanilla styles (ie, pretty typical browser styles) tightly scoped.
*/

#vanilla() {
  @children: h1, h2, h3, h4, h5, h6, ul, ol, p, blockquote;
  @ol-counter-style: decimal; // upper-roman etc
  @ol-counter-sep: ".";
  @list-inset: 2em;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  > ul,
  > ol,
  > p,
  > blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  // Type sizes based on golden ditonic scale
  > h1 {
    font-size: 2.0581em;
  }
  > h2 {
    font-size: 1.618em;
  }
  > h3 {
    font-size: 1.272em;
  }
  > h4 {
    font-size: 1em;
  }
  > h5,
  > h6 {
    font-size: 0.7862em;
  }

  // Anchor, strong, em styles as applicable
  each(@children, {
    > @{value} {
      a {
        text-decoration: underline;

        &:focus {
          outline: 1px dotted;
        }
      }
    }
  });


  > ul,
  > ol {
    li {
      position: relative;

      &::before {
        position: absolute;
        margin-top: 0;
        right: calc(100% + 0.5em);
      }
    }
  }

  // Unordered lists
  > ul,
  > ul ul,
  > ol ul {
    padding-left: @list-inset;

    > li {
      &::before {
        content: "\2014"; // em dash
      }
    }
  }

  // Ordered lists
  > ol,
  > ol ol,
  > ul ol {
    padding-left: @list-inset;
    counter-reset: ol;

    > li {
      &::before {
        counter-increment: ol;
        content: counters(ol, @ol-counter-sep, @ol-counter-style);
      }
    }
  }

  // Ordered lists within unordered lists
  // Note that reset only works for the first ol in ul
  > ul ol {
    padding-left: @list-inset;
    counter-reset: ul-ol;
    > li {
      &::before {
        counter-increment: ul-ol;
        content: counters(ul-ol, @ol-counter-sep, @ol-counter-style);
      }
    }
  }

  > blockquote {
    padding-left: 2em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border-left: 2px solid;
      top: 0;
      bottom: 0.2em;
      left: 1em;
    }
  }
}
