/*
  Imgset
  ======

  Should work with less/sass/whatever, anything that's cool with the ampersand (&) parent selector.

  (1) Default ratio 16:9
  In a typical usage you would inline a padding bottom style that matches the exact ratio of the image.
  Alternatively, use the &--fillParent modifier and set a custom width/height on a relative positioned parent element.

  (2) <img> element is used only so that users can right-click save-as images.

  (3) Our image is displayed on this element rendered by an inline background image style. The reason why it's an element in its own right (instead of just putting the background image on the .Imgset element) is so that there is flexibility when it comes to:
    a) fading the image in when it loads,
    b) transforming it on hover by transforming scale (or a slow scale for a ken burns style effect).
*/

#Imgset() {
  .fill-parent(@offset: 0) {
    position: absolute;
    top: @offset;
    left: @offset;
    right: @offset;
    bottom: @offset;
    padding-bottom: 0 !important;
  }

  .fill-parent(@top; @right; @bottom; @left) {
    position: absolute;
    top: @top;
    left: @left;
    right: @right;
    bottom: @bottom;
    padding-bottom: 0 !important;
  }
}

// <span>
.Imgset {
  display: block;
  position: relative;
  padding: 0;
  padding-bottom: 56.25%; // (9 / 16 * 100%); // (1)
  overflow: hidden;
  margin-left: 0 !important; // (1)
  margin-right: 0 !important;
  transform: translate3d(0, 0, 0); // Own paint layer for performance.

  // <img> (2)
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  // <span> (3)
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // Fade in
    transition: opacity 0.5s;
    opacity: 0;
  }


  // Modifer: Fill Parent

  &--fillParent {
    #Imgset.fill-parent();
  }


  // Modifer: Fill Mode

  &--contain &__background {
    background-size: contain;
  }


  // State: Loaded

  &.is-loaded &__background {
    opacity: 1;
  }
}
