doctype
html(class="no-js*", lang=lang)
  head
    meta(charset="utf-8")
    != viewportMeta

    block vars

    != nojsScript
    != vh

    link(rel="stylesheet", href="/assets/ApplecoreMain.css")
    title #{ pageTitle } | Weekends
    meta(name="description", content=pageDescription || "")

    meta(property="og:url" content=current_url)
    meta(property="og:title" content=pageTitle + " | Weekends")
    meta(property="og:description" content=pageDescription || "")
    if page && (page.share_image || page.feature_image)
      meta(
        property="og:image",
        content=root_domain + resize(page.share_image || page.feature_image, {width: 500})
      )

    meta(name="apple-mobile-web-app-capable", content="yes")

    //- | <link rel="apple-touch-icon" sizes="180x180" href="/assets/Favicons/apple-touch-icon.png">
    //- | <link rel="icon" type="image/png" sizes="32x32" href="/assets/Favicons/favicon-32x32.png">
    //- | <link rel="icon" type="image/png" sizes="16x16" href="/assets/Favicons/favicon-16x16.png">
    //- | <link rel="manifest" href="/assets/Favicons/site.webmanifest">
    //- | <link rel="mask-icon" href="/assets/Favicons/safari-pinned-tab.svg" color="#5bbad5">
    //- | <meta name="msapplication-config" content="/assets/Favicons/browserconfig.xml" />
    //- | <meta name="msapplication-TileColor" content="#da532c">
    //- | <meta name="theme-color" content="#ffffff">

  body(ontouchstart="" class=bodyClass)
    //- ^ ontouchstart is a hack to make :active work on IOS. Don't ask.

    != pageHTML

    script(type="text/javascript", src="/assets/Applecore.pkg.js")
