@import "./platform/UI/Imgset/Imgset.less";

.CmsMedia {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 20px;

  figure {
    padding: 20px;
    width: 240px;
    font-size: 14px;
  }

  figcaption {
    padding-top: 10px;

    small {
      color: #999;
    }
  }
}
