@import "../../Foundation/Typography.less";
@import "../../Foundation/Palette.less";
@import "../../../platform/Styles/vanilla.less";
@import "../../Foundation/Richtext.less";
@import "../../Foundation/Grid.less";
// @import "../../Foundation/Breakpoint.less";
// @import "../../Foundation/Spacing.less";
// @import "../../Foundation/Layers.less";

// @import "../../atoms/Button/Button.less";


.HomePage {
  #Grid.apply(#Grid.eleven());
  background-color: #Palette[black];
  color: #Palette[twilight-blue];

  // .span {
  //   height: 3em;
  //   background-color: red;
  // }

  // .to(#Breakpoint[tablet], {
  //   #Grid.apply(#Grid.five());
  //   #Grid.helper.margins;

  //   content: #Grid[columns];

  //   &__body {
  //     #Grid.helper.columns;
  //   }
  // });

  // .from(#Breakpoint[tablet], {
    #Grid.helper.margins;

    &__body {
      #Grid.helper.columns;
    }

    .span-3 {
      height: 3em;
      background-color: red;
      #Grid.span(2)
    }
    .span-6 {
      height: 3em;
      background-color: red;
      #Grid.span(6)
    }

    .span-7 {
      height: 3em;
      background-color: blue;
      #Grid.span(7);
      margin-left: #Grid.span(5, #Grid[gutter])[width];
    }

  // });



  // section {
  //   h1 {
  //     #Typography.hero;
  //     #Typography.hero.responsive;
  //   }

  //   > h2 {
  //     #Typography.title;
  //     #Typography.title.responsive;
  //   }
  // }

  // &__richtext\* {
  //   #Richtext;
  // }
}
